<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="workOrderText" value="Conforme al artículo 42 de la ley 19.496, si el cliente no retira su equipo dentro del plazo de un año contando desde la fecha de suscripción de este documento, el equipo se entenderá como abandonado en favor del servicio técnico.&#xA;&#xA;Cliente acepta estas condiciones mediante la firma en el presente documento."/>
  </appSettings>
</configuration>